<% if logged_in? %>
  <p>ログイン完了ユーザー：<%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
      <div class="text-center">
          <h1>Tasklist</h1>
          <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
      </div>
  </div>
<% end %>  